<div class="snippet">
  <input id="{{name}}-checkbox" type="checkbox" class="snippet-flipper" />
  <label class="snippet-inner" for="{{name}}-checkbox">
    <div class="snippet-back-face">
      <div class="snippet-back-face-inner">
        <pre class="snippet-source-container">
          <code>
            {{> code }}
          </code>
        </pre>
        <a href="{{url}}" class="snippet-qr-code">
          {{> qr.svg }}
        </a>
      </div>
    </div>
    <div class="snippet-front-face">
      <div class="snippet-front-face-outer">
        <div class="snippet-front-face-inner"
          style="background-image: url({{page-root}}assets/{{name}}.png);"
        ></div>
      </div>
    </div>
    <div class="snippet-dogear-outer">
      <div class="snippet-dogear">
        <span>click to show code</span>
      </div>
    </div>
  </label>
</div>